*{
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {
	width: 100%;
	height: 100%;
	text-align: center;
	color: rgb(62, 62, 62);
	font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}
#container {
	margin: 0 auto;
	width: 670px;
	height: 100%;
}
.h2 {
	padding-bottom: 10px;
	margin-top: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #e7e7eb;
}
.cs-intro {
	padding: 10px;
    box-sizing: border-box !important;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: none solid solid;
    border-color: rgb(204, 204, 204);
    box-shadow: rgb(204, 204, 204) 0px 0px 8px;
    word-wrap: break-word !important;
    text-align: justify;
    line-height: 30px;
}
.cs-intro-span-strong {
	font-weight: bolder;
}
.cs-title {
	margin-top: 10px;
    padding: 16px;
    font-size: 18.018px;
    line-height: 38.4384px;
    color: rgb(62, 62, 62);
    border: 1px dashed rgb(183, 184, 184);
    border-radius: 10px;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
    background-color: rgb(255, 255, 255);
}
.cs-title-number {
	min-height: 1em;
    text-align: center;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
    line-height: 2em;
}
.cs-title-number span {
    color: rgb(255, 169, 0);
}
.cs-title-number span em{
	font-style: italic;
}
.cs-title-number span em span{
	line-height: 34.1333px;
    font-size: 36px;
}
.cs-title-abstract {
	min-height: 1em;
    text-align: center;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
}
.cs-title-abstract span {
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: rgb(0, 122, 170);
}
.cs-content {
	line-height: 1.7;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    word-wrap: break-word !important;
}
.cs-img-box {
	margin: 20px auto 30px;
    border: 0px;
    vertical-align: middle;
    display: block;
    width: 600px;
    visibility: visible !important;
    height: auto !important;
}
#map1, #map2, #map3, #map4 {
    width: 600px;
    height: 0px;
    margin: 15px auto 25px;
    position: relative;
}
#chart1, #chart2, #chart3 {
    width: 670px;
    height: 300px;
    margin: 15px auto 25px;
}
.cs-map1-mask {
    width:200px;
    height:250px;
    background:transparent;
    z-index:9999;
    position:absolute;
    right:0;
    top:80px
}
.cs-map1-mask div {
    color:#fff;
    text-align: left;
    line-height: 26px;
    height: 26px;
    font-size: 1.05em;
}
.cs-map1-mask div span:first-child {
    margin: 0;
    padding: 0;
    display: block;
    height: 21px;
    width: 100px;
    text-align: right;
    line-height: 21px;
    margin-top: 3px;
    float: left;
}
.cs-map1-mask div span:last-child {
    margin: 0;
    padding: 0;
    display: block;
    height: 21px;
    width: 50px;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    border-radius: 5px;
}
.cs-map1-mask div:nth-of-type(1) span:first-child {
    
}
.cs-map1-mask div:nth-of-type(1) span:last-child {
    background: rgba(255, 0, 0, 0.9);
}
.cs-map1-mask div:nth-of-type(2) span:last-child {
    background: rgba(255, 128, 0, 0.9);
}
.cs-map1-mask div:nth-of-type(2) span:first-child {
    
}
.cs-map1-mask div:nth-of-type(3) span:last-child {
    background: rgba(255, 255, 0, 0.9);
}
.cs-map1-mask div:nth-of-type(4) span:last-child {
    background: rgba(0, 255, 0, 0.9);
}
.cs-map1-mask div:nth-of-type(5) span:last-child {
    background: rgba(0, 255, 255, 0.9);
}
.cs-map1-mask div:nth-of-type(6) span:last-child {
    background: rgba(0, 0, 255, 0.9);
}
.cs-map1-mask div:nth-of-type(7) span:last-child {
    background: rgba(128, 0, 255, 0.9);
}
.cs-map1-mask div:nth-of-type(8) span:last-child {
    background: rgba(159, 95, 159, 0.9);
}